In [31]:
#MODEL TRAINING

In [22]:
from snowflake.snowpark import Session
from snowflake.snowpark.functions import when, lit, col

connection_parameters = {
    "account": "IEWTVTD-OJ37682",
    "user": "NIRMALDAS",
    "password": "mv984PxUundKMFy",
    "role": "ACCOUNTADMIN",
    "warehouse": "DEMO_WH",
    "database": "STUDENT_DB",
    "schema": "PUBLIC",
    "authenticator": "snowflake"
}

In [23]:
from snowflake.snowpark import Session

session = Session.builder.configs(connection_parameters).create()

df = session.table("STUDENT_FEATURES").to_pandas()
print(df)

   STUDENT_ID STUDENT_NAME        DEPARTMENT  GPA  ATTENDANCE GPA_LEVEL  \
0           1        Alice  Computer Science  8.5        0.92      High
1           2          Bob        Electrical  7.8        0.85    Medium
2           3        Carol        Mechanical  9.1        0.95      High
3           4        David  Computer Science  6.9        0.80       Low
4           5         Emma        Electrical  8.2        0.88    Medium

  ATTENDANCE_STATUS
0              Good
1           Average
2              Good
3           Average
4           Average

In [24]:
df["label"] = df["GPA_LEVEL"].map({
    "High": 2,
    "Medium": 1,
    "Low": 0
})
df.head()

,STUDENT_ID,STUDENT_NAME,DEPARTMENT,GPA,ATTENDANCE,GPA_LEVEL,ATTENDANCE_STATUS,label
0,1,Alice,Computer Science,8.5,0.92,High,Good,2
1,2,Bob,Electrical,7.8,0.85,Medium,Average,1
2,3,Carol,Mechanical,9.1,0.95,High,Good,2
3,4,David,Computer Science,6.9,0.80,Low,Average,0
4,5,Emma,Electrical,8.2,0.88,Medium,Average,1

In [25]:
X = df[["GPA", "ATTENDANCE"]]
y = df["label"]

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [27]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=10, random_state=42)
model.fit(X_train, y_train)

print("ML Model training complete!")

ML Model training complete!

In [28]:
from sklearn.metrics import classification_report, confusion_matrix

y_pred = model.predict(X_test)

print(" Random Forest Evaluation Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

 Random Forest Evaluation Report:
              precision    recall  f1-score   support

           1       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1

Confusion Matrix:
 [[1]]

C:\Users\nirma\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(

In [29]:
df["prediction"] = model.predict(X)
df[["STUDENT_ID", "GPA_LEVEL", "prediction"]]

   STUDENT_ID GPA_LEVEL  prediction
0           1      High           2
1           2    Medium           1
2           3      High           2
3           4       Low           0
4           5    Medium           1